.progress-bar-label{
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
  text-align: right;
  font-style: normal;
  color: #F2FBFA;
  padding: 2px 16px 0;
}